/CreateGameMessage.class
/EndGameResponse.class
/LeaveGameMessage.class
/LeaveRoomMessage.class
/LeaveRoomResponse.class
/LogOutResponse.class
/StartGameMessage.class
/StatsResponse.class
/CreateRoomMessage.class
/CreateRoomResponse.class
/InitialCardsMessage.class
/InitialCardsResponse.class
/JoinRoomMessage.class
/JoinRoomResponse.class
/LogOutMessage.class
/NewCardsResponse.class
/TableResponse.class
/GamesUpdateResponse.class
/LeaveGameResponse.class
/LoginMessage.class
/LoginResponse.class
/Sendable.class
/SetSelectMessage.class
/SetSelectResponse.class
/SignUpMessage.class
/SignUpResponse.class
/StartGameResponse.class
