/InitialCardsMessage.class
/InitialCardsResponse.class
/LoginMessage.class
/LoginResponse.class
/Sendable.class
/SetSelectMessage.class
/SetSelectResponse.class
/SurrenderMessage.class
/SurrenderResponse.class
